In [18]:
import pandas as pd

In [19]:
df = pd.read_json('../website/logs/app.log', lines=True)

In [20]:
df.head(2)

,level,message,timestamp
0,info,"{'experiments': [{'group': 'test', 'name': 'Sk...",2024-04-08 04:03:41.454000+00:00
1,info,"{'experiments': [], 'extra': {'action': 'click...",2024-04-08 04:03:42.922000+00:00

In [21]:
pd.json_normalize(df['message'], record_path='experiments')

      group                    name
0      test  SkipConfirmationScreen
1      test  SkipConfirmationScreen
2      test  SkipConfirmationScreen
3      test  SkipConfirmationScreen
4      test  SkipConfirmationScreen
5      test  SkipConfirmationScreen
6      test  SkipConfirmationScreen
7      test  SkipConfirmationScreen
8      test  SkipConfirmationScreen
9      test  SkipConfirmationScreen
10     test  SkipConfirmationScreen
11     test  SkipConfirmationScreen
12     test  SkipConfirmationScreen
13     test  SkipConfirmationScreen
14     test  SkipConfirmationScreen
15  control  SkipConfirmationScreen
16  control  SkipConfirmationScreen
17  control  SkipConfirmationScreen
18  control  SkipConfirmationScreen
19  control  SkipConfirmationScreen
20  control  SkipConfirmationScreen
21  control  SkipConfirmationScreen
22  control  SkipConfirmationScreen

In [16]:
pd.json_normalize(df['message'])

,experiments,url,username,extra.action,extra.elementId,extra.event,extra.productId,extra.paymentId
0,"[SkipConfirmationScreen, test]",/,11ddb788-5198-4429-8190-70f08f9428ca,NaN,NaN,NaN,NaN,NaN
1,[],/log,0aa6cf57-71a8-4da3-bd33-15824fe87f52,click,startButton,welcome,NaN,NaN
2,[],/products,0aa6cf57-71a8-4da3-bd33-15824fe87f52,NaN,NaN,NaN,NaN,NaN
3,"[SkipConfirmationScreen, test]",/log,0aa6cf57-71a8-4da3-bd33-15824fe87f52,click,selectButton,products,NaN,NaN
4,"[SkipConfirmationScreen, test]",/payment,0aa6cf57-71a8-4da3-bd33-15824fe87f52,NaN,NaN,NaN,1,NaN
5,"[SkipConfirmationScreen, test]",/payment/1,0aa6cf57-71a8-4da3-bd33-15824fe87f52,NaN,NaN,NaN,NaN,NaN
6,"[SkipConfirmationScreen, test]",/log,0aa6cf57-71a8-4da3-bd33-15824fe87f52,click,payButton,payment,NaN,NaN
7,"[SkipConfirmationScreen, test]",/receipt/1,0aa6cf57-71a8-4da3-bd33-15824fe87f52,NaN,NaN,NaN,NaN,1
8,"[SkipConfirmationScreen, test]",/log,0aa6cf57-71a8-4da3-bd33-15824fe87f52,click,finishButton,receipt,NaN,NaN
9,"[SkipConfirmationScreen, test]",/,0aa6cf57-71a8-4da3-bd33-15824fe87f52,NaN,NaN,NaN,NaN,NaN